ul
	li.first.index(class="#{ current.source == 'index' ? 'active' : '' }")
		a(href='index', title='Home') Home
		.menu-item-bottom
			.lozenge.index
	li.about(class="#{ current.source == 'about' ? 'active' : '' }")
		a(href='about', title='About Me') About Me
		.menu-item-bottom
			.lozenge.about
	li.crime(class="#{ current.source == 'crime' ? 'active' : '' }")
		a(href='crime', title='Crime') Crime
		.menu-item-bottom
			.lozenge.crime
	li.immigration(class="#{ current.source == 'immigration' ? 'active' : '' }")
		a(href='immigration', title='Immigration') Immigration
		.menu-item-bottom
			.lozenge.immigration
	li.other-law(class="#{ current.source == 'other-law' ? 'active' : '' }")
		a(href='other-law', title='Other Law') Other Law
		.menu-item-bottom
			.lozenge.other-law
	li.politics(class="#{ current.source == 'politics' ? 'active' : '' }")
		a(href='politics', title='Politics') Politics
		.menu-item-bottom
			.lozenge.politics
	li.last.page-7(class="#{ current.source == 'page-7' ? 'active' : '' }")
		a(href='page-7', title='Page 7') Page 7
		.menu-item-bottom
			.lozenge.page-7